<a href="https://colab.research.google.com/github/myconsonance/266_final_project/blob/main/notebooks/n_gram/combine_n_gram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ngram_reviews_hc.csv to ngram_reviews_hc.csv
Saving ngram_reviews_jl.csv to ngram_reviews_jl.csv
Saving ngram_reviews_pauline.csv to ngram_reviews_pauline.csv
Saving ngram_reviews_gogurt.csv to ngram_reviews_gogurt.csv

In [ ]:
df_hc = pd.read_csv('ngram_reviews_hc.csv')
df_hc.head()

                                              Review
0  While there was hardly any toppings , sauces t...
1  Impressive ! I am , they are intently focused ...
2  Recommendations : go to Matt , our serve was k...
3  . Took 30 minutes for fried rice was buttery a...
4  After a bad sign for fresh cut fries are good ...

In [ ]:
df_jl = pd.read_csv('ngram_reviews_jl.csv')
df_jl.head()

                                              Review
0  seriously ! I definitely don ' t stop anyone f...
1  " " Unless you go but here it ' s a bit . The ...
2  I guess I just can ' t care at all ! " " I ' v...
3  There were some of the private dining room . "...
4  . They were pretty good . . " Way overpriced ....

In [ ]:
df_py = pd.read_csv('ngram_reviews_pauline.csv')
df_py.head()

                                              Review
0  Place was virtually empty during our recent tw...
1  The first time , I paid extra for all kinds of...
2  Overall , a great place for a good American me...
3  If there is a next time . Mr . So . Service is...
4  The food was as good as it ' s ever been but t...

In [ ]:
df_gogurt = pd.read_csv('ngram_reviews_gogurt.csv')
df_gogurt.head()

                                              Review
0  My favorite is the Basil Crispy CK . I love th...
1  I admit the whole make your own thing can be a...
2  I crave their tuna salad on a regular basis . ...
3  Friendly service but food was just ok . and th...
4  The drinks were a little too strong in my opin...

In [ ]:
df_hj = df_hc.append(df_jl)

In [ ]:
df_hjp = df_hj.append(df_py)

In [ ]:
df = df_hjp.append(df_gogurt)

In [ ]:
df.shape

(1336, 1)

In [ ]:
df

                                                Review
0    seriously ! I definitely don ' t stop anyone f...
1    " " Unless you go but here it ' s a bit . The ...
2    I guess I just can ' t care at all ! " " I ' v...
3    There were some of the private dining room . "...
4    . They were pretty good . . " Way overpriced ....
..                                                 ...
329  The sauce with blue cheese dressy is one for t...
330  . And they now have the F & E Friends card whi...
331  Our waitress took a LONG time to make it to ou...
332  Oh , and come hungry - - it ' s extremely ' fa...
333  But for $ 7 . Today , however , they DESERVE t...

[1336 rows x 1 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
df.to_csv('all_ngram_fake_reviews.csv',index=False, header=False)
!cp all_ngram_fake_reviews.csv "drive/My Drive/"